{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Hind" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a id="header-main" href="/">nick ma</a>
            <a href="/archive">archive</a>
            <a href="/projects">projects</a>
            <a href="/about">about</a>
            <a href="https://github.com/pointatnick">
                <img class="fab fa-github fa-lg" alt="github" />
            </a>
            <a href="https://twitter.com/pointatnick">
                <img class="fab fa-twitter fa-lg" alt="twitter" />
            </a>
        </div>
        <div class="content">
            <p>Hi, I'm Nick. I'm a UCLA graduate (Class of '17, B.S. in Computer Science). I am currently working as a software engineer at a small startup in Los Angeles, California. Most of my work revolves around Android, tinkering with the Camera2 API and FFmpeg. My hobbies include reading comic books, playing board games and video games, and scrolling vigorously through Twitter for my daily dose of tech drama.<br/><br/>
            I'm currently looking for a new job. If you found this website through my résumé, I hope we're a good fit for each other! If you wandered here on your own (how exciting), then welcome! I hope you enjoy your stay.</p>
        </div>
        <div class="footer">
            <p>email: nicholashma@gmail.com</p>
        </div>
    </div>
</body>
