{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a id="header-main" href="/">nick ma</a>
            <a href="/archive">archive</a>
            <a href="/projects">projects</a>
            <a href="/about">about</a>
            <a href="https://github.com/pointatnick">
                <img class="fab fa-github fa-lg" alt="github" />
            </a>
            <a href="https://twitter.com/pointatnick">
                <img class="fab fa-twitter fa-lg" alt="twitter" />
            </a>
        </div>
        <div class="content">
            <h1>Test header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at erat velit. Vestibulum a nibh sit amet felis dapibus dapibus nec sed purus. Nunc mattis, sem sed auctor rutrum, purus lorem  neque, non interdum augue est vel tortor. Nam condimentum, felis id auctor interdum, dolor tortor iaculis mi, in placerat elit lorem dapibus risus. Morbi in risus consectetur, tempor eros eu, rutrum ex. Donec lacinia felis ipsum, id gravida velit aliquam in.<br /><br />
            Fusce bibendum quam sed felis tempus. Mauris metus elit, lobortis vitae sed, vestibulum a lorem. Nulla at nisl volutpat, suscipit mauris id, feugiat magna. Donec ligula lorem, sodales vitae metus ac, molestie finibus elit. Aliquam nisl magna, sollicitudin vel molestie a, rhoncus eu tortor. Etiam ut turpis nisi. Cras placerat faucibus massa eget aliquet. Mauris sed blandit libero.<br /><br />
            Suspendisse tempus, massa at mollis dictum, libero ipsum blandit elit, nec cursus erat odio ut nulla. Sed a gravida tortor, commodo maximus magna. Proin non vulputate urna. Integer vel rutrum sem. Quisque interdum diam a bibendum facilisis. Ut bibendum a velit non iaculis. Duis posuere elementum nisl, ultrices congue metus egestas vel. Nam porta justo odio, quis imperdiet neque tristique eu. Quisque non quam et nisi bibendum fermentum. Proin volutpat pulvinar nisl, ac consequat ipsum laoreet in. Curabitur venenatis mi id sagittis auctor. Maecenas ornare, erat non ornare vestibulum, leo erat auctor ligula, at sollicitudin purus orci et massa. Aenean ac congue nunc. Nunc nec tincidunt ex. Fusce vel ligula dictum, fermentum nisi et, sodales turpis.</p>
        </div>
        <div class="footer">
            <p>email - nicholashma@gmail.com</p>
        </div>
    </div>
</body>
