{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a id="header-main" href="/">nick ma</a>
            <a href="/archive">archive</a>
            <a href="/projects">projects</a>
            <a href="/about">about</a>
            <a href="https://github.com/pointatnick">
                <img class="fab fa-github fa-lg" alt="github" />
            </a>
            <a href="https://twitter.com/pointatnick">
                <img class="fab fa-twitter fa-lg" alt="twitter" />
            </a>
        </div>
        <div class="content">
            <p><a href="/archive">test post 1</a></p>
            <p><a href="/archive">test post 2</a></p>
            <p><a href="/archive">test post 3</a></p>
            <p><a href="/archive">test post 4</a></p>
            <p><a href="/archive">test post 5</a></p>
        <div class="footer">
            <p>email - nicholashma@gmail.com</p>
        </div>
    </div>
</body>
