{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'website/projects.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/projects">projects</a>
        </div>
        <div class="content"></div>
        <div class="menu">
            <a href="https://github.com/pointatnick">github</a>
            <a href="https://twitter.com/pointatnick">twitter</a>
            <p>nicholashma@gmail.com</p>
            <a href="/#">link_to_resume_placeholder</a>
        </div>
    </div>
</body>
